<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <section class="contact">

        <h1>ADD A ROOM</h1>
        <div id="contact" class="border"></div>
        <form id="addRoom-Form" action="/about/" class="contact-form" >

          <input for="title" name="title" class="contact-form-text"  placeholder="title">

          <input for="skill" name="skill" class="contact-form-text" placeholder="skill">

          <input for="skill1" name="skill1" class="contact-form-text" placeholder="skill1">

          <input for="skill2" name="skill2" class="contact-form-text" placeholder="skill2">

          <input for="img" name="img" class="contact-form-text" placeholder="img">

          <input for="contact" name="contact" class="contact-form-text" placeholder="contact">

          <button  type="submit" class="contact-form-btn" value="send" > ADD A ROOM</button>

        </form>

    </section>


</body>
</html>
