<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="contact">

    <h1>BOOK YOUR ROOM</h1>
    <div id="contact" class="border"></div>
    <form class="contact-form" action="/add-new-record/"  method="post">

      <input  name="name"    class="contact-form-text"  placeholder="Your name">

      <input  name="lastname"    class="contact-form-text" placeholder="Your lastname">


      <input  name="check_in"  class="contact-form-text" placeholder="check-in/ 22-09-2021">

      <input name="check_out"  class="contact-form-text" placeholder="check-out/ 29-09-2021">


      <input  name="email"  class="contact-form-text" placeholder="Your email">


      <input  name="room_type"  class="contact-form-text" placeholder="celect room type">



      <textarea  name="massage" class="contact-form-text" placeholder="Your message"></textarea>


      <input type="submit" class="contact-form-btn" value="send">

    </form>

      </section>
</body>
</html>
