<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="contact">

    <h1>BOOK YOUR ROOM</h1>
    <div id="contact" class="border"></div>
    <form class="contact-form" action="/delete/"  method="post">

      <input  name="name"    class="contact-form-text"  placeholder="Your name">

      <input  name="name"    class="contact-form-text" placeholder="Your lastname">




      <input type="submit" class="contact-form-btn" value="submit">

    </form>

      </section>
</body>
</html>
